<!-- <div class="container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/01aV_PbiT30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> -->
<div class="my-about">
  <div class="row">
    <div class="col-md-4">
        <img src="../assets/images/hoope.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
      <h1>Hoope</h1>
      <p class="lead">
        Hoope means "Redwood" in Ohlone language, native to the San Francisco Bay Area.<br>
        This website is a result of my passion for the game of football and the beauty
        of the Bay Area.</p>
    </div>
    <div class="col-md-4">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/01aV_PbiT30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
