<!-- <div class="container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/01aV_PbiT30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div> -->
<div class="my-about">
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/images/hoope.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4">
      <h1>Hoope</h1>
      <p class="lead">
        Hoope means "Redwood" in Ohlone language, native to the San Francisco Bay Area.<br>
        This website is a result of my passion for the game of football and the beauty
        of the Bay Area.</p>
      <h2>More detail:</h2>
      <p class="lead">
        Following technologies were used in the creation of this website: 
        <a href="https://www.w3schools.com/html/" target="_blank">HTML</a>,
        <a href="https://www.w3schools.com/css/" target="_blank">CSS</a>,
        <a href="https://www.w3schools.com/js/" target="_blank">Javascript</a>,
        <a href="https://expressjs.com/" target="_blank">Express</a>,
        <a href="https://www.typescriptlang.org/" target="_blank">Typescript</a>,
        <a href="https://angular.io/" target="_blank">Anguar</a>,
        <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>,
        <a href="https://mongoosejs.com/" target="_blank">Mongoose</a>.
      </p>
    </div>
    <div class="col-md-4">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/01aV_PbiT30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 my-features">
      <h3>Features</h3>
      <p class="lead">
        This website allows users to register and create player profiles. They can search for football pitches using Google Maps API, rate them and read reviews.
      </p>
    </div>
    <div class="col-md-4">
      <img src="../assets/images/mean.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-4 my-future">
      <h3>Future work</h3>
      <p class="lead">
        In the future, this website would add the functionality for people to create events and have people sign up for matches at pitches. Furthermore, users would be able to directly message others, rate them as players and organize into teams.
      </p>
    </div>
  </div>
</div>
