<!-- Used navbar from bootstrap examples - slightly tweaked -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- routerLink=homepage -->
  <a class="navbar-brand" routerLink="">Hoope</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link logout" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <p>
    framework works!
  </p>
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12">
        <small>
          <div class="about">
            About
          </div>
          <div class="contact">
            Contact
          </div>
          <div class="tcs">
            Terms & Conditions
          </div>
        </small>
      </div>
    </div>
  </footer>
</div>


