<form class="form-inline my-2 my-lg-0 search-bar">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="this.shareCoordinatesService.handleAddressChange($event)"/>
  <button type="button" class="btn btn-outline-success my-2 my-sm-0" ><a class="search" routerLink="/pitches"><strong>Search</strong></a></button>
</form>
<a routerLink="/pitches" class="near-me"><strong>Near Me</strong></a>




<!-- [options]='options' -->
<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search"> -->