.details-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.outer-details {
    background-image: url("../../assets/images/white_field.jpg");
    background-size: cover;
    /* height: 800px; */
    background-size: 100% 100%;
}