.my-profile {
    background-image: url("../../assets/images/field.jpg");
    background-size: cover;
    /* height: 700px; */
    background-size: 100% 100%;
}

.name_email {
    text-decoration: underline;
}