.joga-bonito {
    margin-top: 10px;
}

.my-register {
    background-image: url("../../assets/images/white_field.jpg");
    background-size: cover;
    height: 700px;
    background-size: 100% 100%;
}